html {
    font-family: Helvetica;
    background-color: #ddd;
}

.container {
    max-width: 1100px;
    background-color: #fff;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}

.bold {
    font-weight: bold;
}

/* CABEÇALHO */
.cabecalho {
    text-align: center;
}

.titulo-main{
    font-size: 40px;
}
.paragrafo-main{
    font-style: italic;
}

/* IMAGEM DOS CARAS */
.featured-image {
    text-align: center;
    margin-top: 30px;
}

/* BIOGRAFIA VINO */
.biografia-vino {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
}

.img-vino{
    text-align: center;
}

.curiosities-vino {
    background-color: #919090;
    padding: 25px 0;
    margin: 25px 0;
}
.curiosities-vino li {
    height: 30px;
}
.titulo-curiosities-vino{
    text-align: center;
}

/* BIOGRAFIA KYAN */
.biografia-kyan{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
}
.img-kyan {
    text-align: center;
}

.quote-kyan{ /*citação*/
    background-color: #919090;
    padding: 30px;
}

.quote-kyan blockquote {
    font-weight: bold;
    font-size: 40px;
}

.quote-kyan p {
    font-style: italic;
    margin-left: 50px;
    font-size: 25px;

}
.curiosities-kyan {
    padding: 25px 0;
    margin: 25px 0;
}
.curiosities-kyan li {
    height: 30px;
}
.titulo-curiosities-kyan{
    text-align: center;
}

/* BIOGRAFIA VEIGH */
.biografia-veigh {
    background-color: #919090;
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
}

.img-veigh{
    text-align: center;
}

/* BIOGRAFIA DANZO */
.biografia-danzo {
    background-color: #919090;
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
}

.img-danzo{
    text-align: center;
}